{% extends "root.html" %}

{% block title %}COVID-19 Data Analytics{% endblock %}
{% block banner_link %}{{ url_for('static', filename='images/home-banner.png') }}{% endblock %}

{% block main %}
<style>
  #container {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    max-width:1200px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  h4.title { align-self: end;}
  .img-container { display: flex; }
  .img-container img { width: 100%; margin: auto; transition: 0.15s; cursor: pointer; }
  .img-container img:hover { transform: scale(1.05); }
  p.desc { width: 75%; margin: auto; }
  div#timeline {
    position: relative;
    margin: auto;
    cursor: pointer;
    width: 100%; height: 100%;
    background-image: url('{{ url_for("static", filename="images/graph-preview.png") }}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  div.t-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.t-links a {
    pointer-events: auto;
    border: 1px solid black;
    padding: 5px;
    margin: auto 5px;
    background: #f0ad4e;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px lightgrey;
    display: none;
  }

</style>

<div id='container'>
 
  <h4 class='title'>Interactive Map Visualization using MLNs</h4> 
  <h4 class='title'>Animated Timeline for Feature Correlation</h4>
  <h4 class = 'title'>New Map Visualization using MLNs</h4>
  <div class='img-container'><a href='/usmap'><img id='usmap-img' src="{{url_for('static', filename='images/usmap-preview.png')}}" class = 'center'></a></div>
  <div id='timeline'><div class='t-links'>{% for L in locales %}<a href='/timeline/{{ L }}'>{{ L }}</a>{% endfor %}</div></div>
  <div class='img-container'><a href='/usmap2'><img id='usmap-img' src="{{url_for('static', filename='images/usmap-preview.png')}}"></a></div>
  <p class='desc'>Visualize regions with similar changes in confirmed cases around an event of interest</p>
  <p class='desc'>Compare statistics from multiple regions side by side across the same time period</p>
  <p class='desc'>Visualize statistic changes in the states of USA</p>
</div>

<script>
  $('#timeline').hover(
  function() {
    $('.t-links a').show(100);
  }, function() {
    $('.t-links a').hide(100);
  });
</script>
{% endblock %}